<form action="/admin/user/add" method="post" class="rectangle">
    <p>
        <label for="userInput"></label>
        <input type="text" id="userInput" name="username" placeholder="E-mail" required >
    </p>
    <p>
        <label for="name"></label>
        <input type="text" id="name" name="name" placeholder="Full Name" required >
    </p>
    <p>
        <label for="role"></label>
        <input type="text" id="role" name="role" placeholder="Role" required >
    </p>
    <p>
        <label for=""></label>
        <input type="password" id="show" name="password" required placeholder="Password"> <br>
        <input type="checkbox" name="" id="">
        <label for="">Show Password</label>
    </p>

    <p style="padding-bottom: 50px; padding-top: 20px;">
        <input type="submit" id="button" value="Submit">
        <br>
    </p>
</form>

<!--sa per prove-->