<form action="/admin" method="post" class="rectangle">
    <p>
        <label for="userInput"></label>
        <input type="text" id="userInput" name="username" placeholder="Phone number or email" required >
    </p>
    <p>
        <label for="fullname"></label>
        <input type="text" id="fullname" name="fullname" placeholder="Full Name" required >
    </p>
    <p>
        <label for="role"></label>
        <input type="text" id="role" name="role" placeholder="Role" required >
    </p>
    <p>
        <label for=""></label>
        <input type="password" id="show" name="password" required placeholder="Password"> <br>
        <input type="checkbox" name="" id="">
        <label for="">Show Password</label>
    </p>

    <p style="padding-bottom: 50px; padding-top: 20px;">
        <input type="submit" id="button" value="Log in">
        <br>
    </p>
</form>

<!--sa per prove-->