<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="../public/css/styles.css" type="text/css">
    <script>
        function validateInput() {
            var userInput = document.getElementById("show").value;
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            var phoneRegex = /^\+355\d{8}$/; // Phone number starts with +355 and has 8 digits after that

            // Check if the input matches the email regex or phone number regex
            if (emailRegex.test(userInput) || phoneRegex.test(userInput)) {
            } else {
                alert("Please enter a valid email address or phone number.");
            }
        }
    </script>
    <script>
        function myfunction(){
            var show = document.getElementById('userInput');
            if (show.type== 'password'){
                show.type='text';
            }
            else{
                show.type='password';
            }
        }
    </script>
</head>
<body >
<p id="letters">Sign up</p>
<p class="background"></p>
<div class="frame1"></div>
<form action="/signup" method="post" onsubmit="return validateInput();" class="rectangle">
    <p>
        <label for="name"></label>
        <input type="text" name="fullname" id="name" placeholder="Full name" autocomplete="on" required>
    </p>
    <p>
        <label for="email"></label>
        <input type="text" id="show" name="username" placeholder="Phone number or email" required >
    </p>
    <p>
        <label for="password"></label>
        <input type="password" id="userInput" name="password" required placeholder="Password"> <br>
        <input type="checkbox" name="" onclick="myfunction()"id="">
        <label for="">Show Password</label>
    </p>
    <p>
        <input id="button" type="submit" value="Sign up">
        <br>
        <a href="/auth/google" role="button">
            Sign Up with Google
        </a>
    </p>
    <p style="text-align: left; margin-left: -340px; margin-top: -100px; z-index: 6; color: white;">Already have an account?</p>
    <a href="login.ejs" style="text-align: left; margin-left: -340px; margin-top: -100px;z-index: 6;color: white;"> Log in</a>



</form>
<div class="frame2"></div>
</body>
</html>